body {
  background-color: #f1f1f1;
  font-family: "Arial", sans-serif;
  color: #ff0000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  font-size: 3rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #ff0000;
}

#paper {
  background-color: #2196f3;
}

#scissors {
  background-color: #4caf50;
}

#user-score {
  color: #2196f3;
}

#computer-score {
  color: #4dff00;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.balta {
  background-color: #706c6c;
  opacity: 0.95;
  width: 30rem;
  height: 20rem;
  border-radius: 30px;
  border: #ff0000 0.25rem solid;
  margin-top: 10rem;
}
